@font-face { 
    font-family:'GT Pressura', 'GT Pressura Mono'; 
    src: url('../../assets/fonts/GT-Pressura-Bold.ttf') format('ttf'); 
    src: url('../../assets/fonts/GT-Pressura-Mono-Light.ttf') format('ttf');
    }

* {
    margin: 0;
    box-sizing: border-box;
} 
a, a:hover, a:focus, a:active {
    font-family: 'GT Pressura';
    text-decoration: none;
    color: inherit;
    font-size: large;
        letter-spacing: 1px;
}
.nav-text {
    font-size: large;
}
main{
    margin-top: 0;
}
body{
   background-color: black;
   height:max-content;
   padding-left: 5.2%;
   padding-right: 6%;

}
header {
    z-index: 9999;
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    height: 130px;
    width: 102.5%;
    flex-direction: row;
    flex-wrap: wrap;
}
.header-img {
    height: 85px;
    /* width: auto; */
    padding-bottom: 15px ;
    margin-top: 37px;
}
.big-nav {
    padding-right: 5px;
    margin-right: 1.4%;
}

ul {
    margin: 85px -3px -15px -10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    list-style: none;
    flex: auto;
    flex-direction: row;
    font-size: 16px;
}
    
li {
    margin-left: 15px;
}
li:hover {
    text-decoration: line-through;
    

}
.big-anc2{
    color: white;

    
}
.img-size {
    width: 102%;
    height: auto;
    margin-top: 13px;
    margin-left: 0px;
}
.placeholder {
    background-color: gray;
    width: 102%;
    height: auto;
}
footer {
    margin-bottom: 20px;
    height: 100px;
}
.foot {
    color: white;
    margin-top: 10px;
    font-size: 12px;
}

h1 {
    text-align: end;
}
.top-img {
    margin-top: 0;
}
.sm-nav {
    margin: 50px 30px;
    visibility: hidden;
    color: white;
    transform: scale(1.5);
}
i {
    color: white;
    
}
.follow {
    margin-top: 100px;
}
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 0%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #f1f1f1;
  display: block; /* Display block instead of inline */
  transition: 0.5s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: rgba(241, 241, 241, .5);
  text-decoration: line-through;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
#loader {
    /* position: absolute; */
    margin-top: 25%;
    margin-left: 43%;
    z-index: 1;
    width: 20px;
    height: auto;
    font-size: medium;
  }
  .case {
      font-family: "GT Pressura Mono";
  }
  
  
.big-font {
    font-family: "GT Pressura";
}
.email {
        text-align: left;

}
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
   .logo:hover {
      color: black;
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }
  .rotate-img {
      width: 150px;
  }

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
 .move {
   margin-left: 100px;
 } 

 @media screen and (max-width: 900px) {
    #loader {
        margin-top: 125px;
    }
    .follow {
        margin-top: 150px;
    }
}
  @media screen and (max-width: 767px) {
    .secnd-img {
        margin-top: 15px;
    }
    .rotate-img {
        margin-top: 25%;
    }
}


@media screen and (max-width: 640px) {
  header {
      width:102%;
      
  }
  .img-size {
      width: 100%;
  }
  body{
      background-color: black;
      height: fit-content;
      }
   ul {
       margin: 85px 7px -15px -10px;
      }
}
@media screen and (max-width: 550px) {
    #loader {
        margin-top: 70%;
        margin-left: 100px;
    }

    .hide-bg-nav {
        visibility: hidden;
    }
}
@media screen and (max-width: 545px) {
 
    .sm-nav {
        visibility: visible;
    }
    .img-size {
        width: 101%;
    }
  
} 

@media screen and (max-width: 500px) {
    .foot {
        font-size: 8px;
    }
    nav {
        padding-right: 5px;
        margin-top: -115px;
        margin-left: 55px;
    }
    .animated-icon3 {
        margin-top: 150px;
    }
}
@media screen and (max-width: 392px) {
    ul {
        margin: 85px 0 0 0;
        padding-left: 0px;
    }
    nav {
        padding-top: 0px;
    }
}