@font-face { 
    font-family:'GT-Pressura'; 
    src: url('assets/fonts/GT-Pressura-Bold.ttf') format('ttf'); 
    }

* {
    margin: 0;
    box-sizing: border-box;
} 
main{
    margin-top: 0;
}
body{
    font-family: 'GT-Pressura-Bold';
   background-color: black;
   height: fit-content;
   padding-left: 5.2%;
   padding-right: 6%;

}
header {
    z-index: 9999;
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    height: 130px;
    width: 102.5%;
    flex-direction: row;
    flex-wrap: wrap;
}
.header-img {
    height: 85px;
    /* width: auto; */
    padding-bottom: 15px ;
    margin-top: 37px;
}
nav {
    padding-right: 5px;
    margin-right: 1.4%;
}

ul {
    margin: 85px -3px -15px -10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    list-style: none;
    flex: auto;
    flex-direction: row;
    font-size: 16px;
}
    
li {
    margin-left: 15px;
}
.big-anc2{
    color: white;

    
}
.img-size {
    width: 102%;
    height: auto;
    margin-top: 22px;
    margin-left: 0px;
}
.placeholder {
    background-color: gray;
    width: 102%;
    height: auto;
}
footer {
    margin-bottom: 20px;
    height: 100px;
}
.foot {
    color: white;
    margin-top: 10px;
    font-size: 12px;
}
h1 {
    text-align: end;
}
.top-img {
    margin-top: 0;
}

@media screen and (max-width: 767px) {
    .secnd-img {
        margin-top: 22px;
    }

    .sm-nav {
        visibility: hidden;
    }
    .img-size {
        width: 101%;
    }
}

@media screen and (max-width: 640px) {
    header {
        width:102%;
        
    }
    .img-size {
        width: 100%;
    }
    body{
        background-color: black;
        height: fit-content;
        }
     ul {
         margin: 85px 7px -15px -10px;
        }
}
@media screen and (max-width: 500px) {
    .foot {
        font-size: 8px;
    }
    nav {
        padding-right: 5px;
        margin-top: -115px;
        margin-left: 55px;
    }
}
@media screen and (max-width: 392px) {
    ul {
        margin: 85px 0 0 0;
        padding-left: 0px;
    }
    nav {
        padding-top: 0px;
    }
}