* {
    margin: 0;
    box-sizing: border-box;
} 
main{
    margin-top: 0;
}
body{
   background-color: black;
   height: fit-content;
   padding-left: 15%;
   padding-right: 15%;
}
header {
    z-index: 9999;
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    height: 110px;
    width: 102.5%;
    flex-direction: row;
    flex-wrap: wrap;
}
.header-img {
    height: 85px;
    /* width: auto; */
    padding-bottom: 15px ;
    margin-top: 37px;
}
nav {
    padding-right: 5px;
}
ul {
    margin: 85px 7px -15px -10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    list-style: none;
    flex: auto;
    flex-direction: row;
    font-size: 16px;
}
li {
    margin-left: 15px;
}
a {
    color: white;
    margin-top: 22px;
    margin-left: 0px;
}
.img-size {
    width: 102%;
    height: auto;
}
.placeholder {
    background-color: gray;
    width: 102%;
    height: auto;
}
footer {
    margin-bottom: 20px;
}
.foot {
    color: white;
    margin-top: 10px;
    font-size: 12px;
}
h1 {
    text-align: end;
}

@media screen and (max-width: 640px) {
    header {
        width:102%;
        
    }
    body{
        background-color: black;
        height: fit-content;
        }
     ul {
         margin: 85px 7px -15px -10px;
        font-size: 12px;
        }
}
@media screen and (max-width: 500px) {
    .foot {
        font-size: 8px;
    }
}
@media screen and (max-width: 392px) {
    ul {
        margin: 85px 0 0 0;
        font-size: 12px;
        padding-left: 0px;
    }
    nav {
        padding-top: 0px;
    }
}