@font-face { 
    font-family:'GT-Pressura'; 
    src: url('assets/fonts/GT-Pressura-Bold.ttf') format('ttf'); 
    }

* {
    margin: 0;
    box-sizing: border-box;
} 
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
main{
    margin-top: 0;
}
body{
    font-family: 'GT-Pressura-Bold';
   background-color: black;
   height: fit-content;
   padding-left: 5.2%;
   padding-right: 6%;

}
header {
    z-index: 9999;
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    height: 130px;
    width: 102.5%;
    flex-direction: row;
    flex-wrap: wrap;
}
.header-img {
    height: 85px;
    /* width: auto; */
    padding-bottom: 15px ;
    margin-top: 37px;
}
.big-nav {
    padding-right: 5px;
    margin-right: 1.4%;
}

ul {
    margin: 85px -3px -15px -10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    list-style: none;
    flex: auto;
    flex-direction: row;
    font-size: 16px;
}
    
li {
    margin-left: 15px;
}
li:hover {
    text-decoration: line-through;
    

}
.big-anc2{
    color: white;

    
}
.img-size {
    width: 102%;
    height: auto;
    margin-top: 22px;
    margin-left: 0px;
}
.placeholder {
    background-color: gray;
    width: 102%;
    height: auto;
}
footer {
    margin-bottom: 20px;
    height: 100px;
}
.foot {
    color: white;
    margin-top: 10px;
    font-size: 12px;
}
h1 {
    text-align: end;
}
.top-img {
    margin-top: 0;
}
.sm-nav {
    visibility: hidden;
}
/* Icon 1 */

.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  .animated-icon1 span {
    background: #e65100;
  }
  
  .animated-icon2 span {
    background: #e3f2fd;
  }
  
  .animated-icon3 span {
    background: #f3e5f5;
  }
  
  .animated-icon1 span:nth-child(1) {
   top: 0px;
  }
  
  .animated-icon1 span:nth-child(2) {
    top: 10px;
  }
  
  .animated-icon1 span:nth-child(3) {
    top: 20px;
  }
  
  .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  /* Icon 3*/
  
  .animated-icon2 span:nth-child(1) {
    top: 0px;
  }
  
  .animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
    top: 10px;
  }
  
  .animated-icon2 span:nth-child(4) {
    top: 20px;
  }
  
  .animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
  }
  
  .animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
  }
  
  /* Icon 4 */
  
  .animated-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  .animated-icon3 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  .animated-icon3 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  .animated-icon3.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
  }
  
  .animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  
  .animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
  }
  @media screen and (max-width: 767px) {
    .secnd-img {
        margin-top: 22px;
    }
}


@media screen and (max-width: 640px) {
  header {
      width:102%;
      
  }
  .img-size {
      width: 100%;
  }
  body{
      background-color: black;
      height: fit-content;
      }
   ul {
       margin: 85px 7px -15px -10px;
      }
}
@media screen and (max-width: 550px) {

    .hide-bg-nav {
        visibility: hidden;
    }
}
@media screen and (max-width: 545px) {
 
    .sm-nav {
        visibility: visible;
    }
    .img-size {
        width: 101%;
    }
  
} 

@media screen and (max-width: 500px) {
    .foot {
        font-size: 8px;
    }
    nav {
        padding-right: 5px;
        margin-top: -115px;
        margin-left: 55px;
    }
    .animated-icon3 {
        margin-top: 150px;
    }
}
@media screen and (max-width: 392px) {
    ul {
        margin: 85px 0 0 0;
        padding-left: 0px;
    }
    nav {
        padding-top: 0px;
    }
}