* {
    margin: 0;
    box-sizing: border-box;
    


} 
main{
    margin-top: 0;
}
body{
   background-color: black;
   height: fit-content;
   padding-left: 15%;
   padding-right: 15%;
}
header {
    z-index: 9999;
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    height: 110px;
    flex-direction: row;
    flex-wrap: wrap;
}

.header-img {
    height: 85px;
    width: auto;
    padding-bottom: 15px ;
    margin-top: 37px;
}
ul {
    margin: 85px 7px -15px -10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    list-style: none;
    flex: auto;
    flex-direction: row;
    font-size: 16px;
    
    
}
li {
    margin-left: 15px;
    
}
a {
    color: white;
    margin-top: 22px;
    margin-left: 0px;
}

.img-size {
    width: 102%;
    height: auto;

}

.placeholder {
    background-color: gray;
    width: 102%;
    height: auto;
}
@media screen and (max-width: 640px) {

    body{
        background-color: black;
        height: fit-content;
        
     }
     ul {
        
        margin: 85px 7px -15px -10px;
        font-size: 12px;
        
    }
}

@media screen and (max-width: 392px) {
    ul {
        margin: 85px 0 0 0;
        font-size: 12px;
        padding-left: 0px;
        
    }
    nav {
        padding-top: 0px;
    }

}